.separator {
  position: absolute;
  height: 5rem;
  width: 100%;
  display: block;
  transform: translateY(-100%);
}
.seperatorReverse {
  transform: translateY(0) rotate(180deg);
}
.shadow {
  fill: rgba(0,0,0,0.1);
  transform: translate3d(2%, -2%, 0) rotate(-2deg);
}