.button {
  border: 1px solid #87b56b;
  color: white;
  background: #87b56b;
  cursor: pointer;
  letter-spacing: 1.25px;
  text-align: center;
  font-size: 1em;
  border-radius: 2px;
  padding: 0.5em 1.5em;
}

.buttonLarge {
  padding: 1em 2em;
}

.buttonStroke {
  background: none;
  border: 1px solid white;
}

.button:active {
  transform: scale(0.97);
}