.button {
  border: 1px solid transparent;
  color: #000;
  /* background: #87b56b; */
  background-color: #fff;
  letter-spacing: 1.25px;
  text-align: center;
  font-size: 1em;
  /* font-weight: bold; */
  text-transform: uppercase;
  padding: 0.5em 1.5em;
  transition: transform 100ms ease-in-out;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.button:hover {
  cursor: pointer;
}

.buttonWithIcon {
  display: inline-flex;
  align-items: center;
  padding-left: 1em;
}
.buttonWithIcon svg {
  margin-right: 0.5em;
}
.buttonLarge.buttonWithIcon {
  padding-left: 1.5em;
}

.button:hover {
  transform: scale(1.1);
}
.buttonLarge:hover {
  transform: scale(1.04);
}

.button:active {
  transform: translateY(1px);
  background: #77a65a;
}

.buttonLarge {
  padding: 1em 2em;
  /* border-radius: 2em; */
  /* box-shadow: 0px 1px 4px rgba(0,0,0,0.3); */
}

.buttonStroke,
.buttonStroke:active {
  background: none;
  color: #fff;
  border: 1px solid white;
}
