.navBar {
  position: fixed;
  width: 100%;
  display: flex;
  padding: 1.5rem 1rem;
  background: #315640;
  justify-content: flex-end;
  align-items: center;
  z-index: 10;
  border-bottom: 1px solid #315640;
  transition: padding .2s, border-bottom-color .2s;
}
.navBarActive {
  padding: 0.5rem 1rem;
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

.navBar .menuItem {
  display: inline-block;
  margin: 0.5rem 1rem;
}

.burgerButton {
  position: relative;
  width: 26px;
  height: 22px;
  margin-right: auto;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s;
}

.burgerButtonActive {
  opacity: 1;
}

.burgerButtonBar {
  position: absolute;
  height: 20%;
  left: 0;
  right: 0;
  top: 0%;
  background: #FFF;
}

.burgerButtonBar:nth-child(2) {
  top: 40%;
}

.burgerButtonBar:nth-child(3) {
  top: 80%;
}

.burgerMenu {
  position: fixed;
  top: 0;
  height: 100%;
  background: #315640;
  transform: translate3d(-100%,0,0);
  transition: transform 0.2s ease-in-out;
  z-index: 11;
  padding: 2rem 1rem 1rem;
}

.burgerMenuActive {
  transform: translate3d(0,0,0)
}

.crossButton {
  position: absolute;
  width: 26px;
  height: 26px;
  right: 1rem;
  top: 1rem;
  margin-right: -13px;
}
.crossBar {
  position: absolute;
  width: 3px;
  height: 26px;
  transform-origin: center;
  transform: rotate(45deg);
  background: #FFF;
  cursor: pointer;
}
.crossBar:nth-child(2) {
  transform: rotate(-45deg);
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  height: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 10;
  transform: background-color 0.2s;
}

.overlayActive {
  bottom: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.menuItems {
  opacity: 0;
  transition: opacity 0.2s;
}

.menuItemsActive {
  opacity: 1;
}

.menuItem {
  display: block;
  cursor: pointer;
  margin: 1rem;
  padding: none;
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  border: none;
}

.menuItemActive {
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 768px) {
  /* Always do burger menu on small devices */
  .menuItems {
    display: none;
  }
  .burgerButton {
    opacity: 1
  }
}

@media (max-width: 480px) {
  /* Burger menu takes up full screen width */
  .burgerMenu {
    width: 100%;
  }
}