@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&display=swap');

/* Styles for rc-collapse imported here so tailwind overwrites take precedence */
.rc-collapse-anim-active {
  transition: height 0.2s ease-out;
}
.rc-collapse-content {
  overflow: hidden;
}
.rc-collapse-content-inactive {
  display: none;
}

@tailwind base;

@tailwind components;

@tailwind utilities;

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(359deg);}
}

* {
  font-family: 'Nunito Sans', sans-serif;
}

.hover-translate {
  transform: translateY(0);
  transition: transform 0.1s ease-in-out;
}

.hover-translate:hover {
  transform: translateY(-2px);
}

.hover-translate:active {
  transform: translateY(1px);
}

/* Overwrite shadow for cards */
.shadow-xl {
  box-shadow: 0 6px 25px 0px rgba(0, 0, 0, 0.15), 0 10px 10px -5px rgba(102, 30, 30, 0.1);
}