/* Styles for rc-collapse imported here so tailwind overwrites take precedence */
.rc-collapse-anim-active {
  transition: height 0.2s ease-out;
}
.rc-collapse-content {
  overflow: hidden;
}
.rc-collapse-content-inactive {
  display: none;
}

/* Import tailwind (don't purge base and components) */
/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

/* Custom global styles */
/*@font-face {
  font-family: 'Space Grotesk';
  font-weight: 200;
  src: url("/fonts/SpaceGrotesk-Light.woff2") format("woff2"), url("/fonts/SpaceGrotesk-Light.woff") format("woff");
}*/
@font-face {
  font-family: 'Space Grotesk';
  font-weight: 400;
  src: url("/fonts/SpaceGrotesk-Medium.woff2") format("woff2"), url("/fonts/SpaceGrotesk-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: 'Space Grotesk';
  font-weight: 600;
  src: url("/fonts/SpaceGrotesk-SemiBold.woff2") format("woff2"), url("/fonts/SpaceGrotesk-SemiBold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: 'Space Grotesk';
  font-weight: 700;
  src: url("/fonts/SpaceGrotesk-Bold.woff2") format("woff2"), url("/fonts/SpaceGrotesk-Bold.woff") format("woff");
  font-display: swap;
}

body {
  font-family: 'Space Grotesk', sans-serif;
}

* {
  -webkit-font-smoothing: antialiased;
}

/* Mads' hacks to get shit done ¯\_(ツ)_/¯ */
.menu-item  {
  position: relative;
}
.menu-item:after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #74c68c;
  transition: all 0.2s ease-in-out;
  width: 0;
}
.menu-item:hover:after,
.menu-item-active:after {
  width: 100%;
  left: 0;
}

.max-w-15 {
  max-width: 15rem;
}

/* Disable default browser outlines */
*:focus, *:invalid {
  outline: 0;
  box-shadow: none;
}


/* global spin animation - used by form on submit */
@keyframes spin {
  from { transform:rotate(0deg); }
  to { transform:rotate(359deg); }
}


.highlight-link{
  background-color:
#1d9a6c;
  color:
  #fff;
  padding: 2px 3px;
}