.footer {
  background: #F0F0F0;
}

.footer p {
  color: rgba(0,0,0,0.5);
  margin: 1em 0;
}

.footer a {
  display: block;
  margin: 1rem 0;
  padding: none;
  border: none;
  color: rgba(0,0,0,0.7);
  text-decoration: none;
}

.copyright {
  margin-top: 2em;
  text-align: center;
  color: rgba(0,0,0,0.4);
}