.logo, .nav, .ctas, .container, .footer {
  max-width: 32em;
  margin: auto;
  padding: 0 1em;
}

.logo {
  text-align: center;
  margin: 2em auto;
}

.earth {
  display: block;
  width: 50%;
  margin: auto;
}

.subTitle {
  text-align: center;
}

.ctas {
  display: flex;
  justify-content: space-around;
}

.footer p {
  color: rgba(0,0,0,0.5);
  margin: 1em 0;
}

.footer a {
  color: black;
  text-decoration: none;
}