.top {
  text-align: center;
  background-color: #315640;
  color: #EEE;
  padding: 2em 0;
}

.logo {
  display: block;
  max-width: 40%;
  margin: 2em auto;
}

.subTitle {
  color: rgba(255,255,255,0.5);
}

.greenBox {
  background-color: #315640;
  color: #EEE;
}

.carousel {
  background-color: transparent;
}

.container {
  max-width: 32em;
  margin: auto;
  padding: 0 1em;
}