.top {
  text-align: center;
  padding-top: 4em;
}

.topBackgroundImage {
  background-image: url('https://images.unsplash.com/photo-1492741428243-892c600f7dbc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2982&q=80');
  background-size: cover;
  background-position: center;
}

/* .topBackgroundImageOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
} */

.logo {
  display: block;
  max-width: 160px;
  margin: 2em auto;
}

.title {
  margin-top: 2em;
  margin-bottom: 0;
}

.subtitle {
  margin-bottom: 2em;
  font-weight: normal;
  color: rgb(173, 215, 146);
}

.ctas button {
  margin: 0.5em;
}

.carousels {
  text-align: center;
}

.carousels h4 {
  margin: 1em;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.carousel a {
  padding: 0;
  border: none;
}

.carousel img {
  opacity: 0.45;
  margin: 1em;
}

.brief {
  text-align: center;
}

.brief h4 {
  color: white;
  text-transform: none;
  letter-spacing: normal;
}

.readMore {
  display: block;
  border: none;
  padding: none;
}

.box {
  padding: 1.2em 0 1em;
}

.box h3 {
  font-size: 6.25rem;
  font-weight: 800;
  font-family: 'Bebas Neue', cursive;
  margin: 0;
  line-height: 6rem;
  color: #254d35;
}

.box p {
  text-transform: uppercase;
  color: #254d35;
  margin: 0;
}

/* Horrible overrides of rc-collapse styling */
.faq {
  background: none !important;
  border: none !important;
}

:global .rc-collapse > .rc-collapse-item {
  margin-bottom: 10px;
}

:global .rc-collapse > .rc-collapse-item > .rc-collapse-header {
  padding: 15px 15px !important;
  color: #fff !important;
  background-color: #50755f;
}

:global .rc-collapse > .rc-collapse-item > .rc-collapse-header > i.arrow {
  border-left-color: #fff;
  border-top-color: transparent;
}

:global
  .rc-collapse
  > .rc-collapse-item.rc-collapse-item-active
  > .rc-collapse-header
  > i.arrow {
  border-left-color: transparent;
  border-top-color: #fff;
}

:global .rc-collapse > .rc-collapse-item,
:global
  .rc-collapse
  > .rc-collapse-item
  > .rc-collapse-content.rc-collapse-content-active {
  background-color: #efefef;
}
