.top {
  text-align: center;
  background-color: #315640;
  color: #EEE;
  padding: 5em 0 1.5em;
}

.logo {
  display: block;
  max-width: 160px;
  margin: 2em auto;
}

.subTitle {
  margin: 0.5em 0 1em;
  font-weight: normal;
  color: rgb(173, 215, 146);
}

.ctas button {
  margin: 0.5em;
}

.carousels {
  text-align: center;
}

.carousels h4 {
  margin: 1em;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.carousel a {
  padding: 0;
  border: none;
}

.carousel img {
  opacity: 0.15;
  margin: 1em;
}

.brief {
  text-align: center;
}

.brief h4 {
  color:white;
  text-transform: none;
  letter-spacing: normal;
}

.readMore {
  display: block;
  border: none;
  padding: none;
}

/* Horrible overrides of rc-collapse styling */
.faq {
  background: none !important;
  border: none !important;
}

:global .rc-collapse > .rc-collapse-item {
  border: none !important;
}

:global .rc-collapse > .rc-collapse-item.rc-collapse-item-active {
  border-bottom: 1px solid #CCC !important;
}

:global .rc-collapse > .rc-collapse-item > .rc-collapse-header {
  border-bottom: 1px solid #CCC;
}

:global .rc-collapse > .rc-collapse-item.rc-collapse-item-active > .rc-collapse-header {
  color: #315640;
  border-bottom: 1px solid #315640;
}